.caculator{
    /* 让元素内缩 不然output就占满了 */
    display: inline-block;
}
.caculator .button{
    height: 6em;
    width:6em;
}
.caculator .button.text-clear{
    width:18em;
}

.caculator .button.text-0{
    width:12em;
}

.caculator .output{
    border:1px solid grey;
    height: 6em;
    position: relative;
}

.caculator .output span{
    position: absolute;
    right:.4em;
    bottom:.4em;
    font-size: 40px;
}